
body{
  padding-bottom:20px;
}
.row{
  padding-right:20px;
  padding-left:20px;
}
/*KEY FRAMES*/

.box{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example_keyframes; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: example_keyframes;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes example_keyframes {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example_keyframes {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/*END OF KEYFRAMES*/








/*Flipping*/
.flip{
  background-color: #f3f3f3;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 250px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  padding:50px;
  text-align:center;
  vertical-align:center;
  border-top-right-radius:55px;
  border-top-left-radius:10px;
  border-bottom-left-radius:55px;
  border-bottom-right-radius:10px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);

  background:skyblue;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  background:cyan;
}
/*End of FLipping*/
